.loadingPage {
    height: 90vh;
    width: 100%;
    display: grid;
    place-items: center;
  }
  
  .loadingCircle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 10px solid #ffffff;
    border-top: 10px solid rgb(77, 182, 169);
    border-bottom: 10px solid rgb(77, 182, 169);
    animation: loading 1s linear infinite;
  }
  
  @keyframes loading {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }